
body {
	width: 750px;
	color:#333;
	margin:0px auto;
	background-color:#500;
	
}

.nav {
	margin-top:0px;
	padding-top:10px;
	display:block;
	height:20px;
	width:100%;
	color:white;
	box-shadow: none;
	text-align:center;
}
.less {
	
}

.main {
	background-color:white;
	padding-bottom:20px;
}
.words{
	max-width:650px;
}
div{
	padding:0px 20px 0px 20px;
}
a:link, a:visited{
	color:#CC0000;
	text-decoration:none;
	}
a:hover{
	text-decoration: underline;
	}

h1, h2  {
	color:#CC0000;
	text-align:left;
}

table.tableizer-table {
	font-size: 12px;
	border: 1px solid #CCC; 
	font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
	padding: 4px;
	margin: 3px;
	border: 1px solid #CCC;
}
.tableizer-table th {
	background-color: #CC0000; 
	color: #FFF;
	font-weight: bold;
}

