#centerrhtsupabt
{
	width:490px;
	float:left;
}
#centerrhtsupedu
{
	width:490px;
	float:left;
	margin-top:250px;
}
#centerrhtsupres
{
	width:490px;
	float:left;
	margin-top:00px;
}
#centerrhtsuppub
{
	width:490px;
	float:left;
	margin-top:00px;
}
#centerrhtsuptea
{
	width:490px;
	float:left;
	margin-top:00px;
}
#centerrhtsuppro
{
	width:490px;
	float:left;
	margin-top:00px;
}
#centerrhtsupcon
{
	width:490px;
	float:left;
	margin-top:00px;
	padding-bottom:435px
}
#abt{
	width:1px; height:1px; float:left; margin-top:-150px;
}
#edu{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#res{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#pub{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#tea{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#pro{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#con{
	width:1px; height:1px; float:left; margin-top:-75px;
}