#centerrhtsupxbox
{
	width:490px;
	float:left;
	margin-top:00px;
}
#centerrhtsupweb
{
	width:490px;
	float:left;
	margin-top:00px;
	padding-bottom:600px
}
#centerrhtsupunity
{
	width:490px;
	float:left;
	margin-top:00px;
}
#centerrhtsupgen
{
	width:490px;
	float:left;
}

#gen{
	width:1px; height:1px; float:left; margin-top:-150px;
}
#xbox{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#mobile{
	width:1px; height:1px; float:left; margin-top:-75px;
}
#unity{
	width:1px; height:1px; float:left; margin-top:-75px;
}
